<%= @user.email %>

<% if @user.workouts.any? %>
	<%= @user.workouts.count %>
	<ul>
	<% @user.workouts.each do |workout| %>
		<li><%= workout.name %> <%= link_to "Go to Workout", workout %>
			<ul>
				<li><%= workout.style %></li>
				<li><%= workout.equipment %></li>
				<li><%= workout.difficulty %></li>
				<li><%= workout.intensity %></li>
			</ul>
		</li>
	<% end %>
	</ul>
<% end %>


<%= render "shared/workout_form" if signed_in? %>

<% if signed_in? %>
	<%= link_to "sign out", signout_path, method: "delete" %>
<% end %>